* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans 3', sans-serif;
}
 
.header {
    background: #032541;
    color: #fff;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    
    .leftNav, .rightNav  {
        display: flex;
        gap: 20px;

        ul{
            display: flex;
            gap: 20px;
            align-items: center;
            list-style: none;

            .lang {
                border: 1px solid #fff;
                padding: 3px;
                font-size: 14px;
                border-radius: 5px;
            }
        }

        li {
            font-size: 16px;
            font-weight: 600;
            cursor: pointer;
            transition: color 0.3s ease;        

            a {
                text-decoration: none;
                color: #fff;
                &:hover {
                    color: rgb(168, 240, 240);
                }
            }
        }

    }

    .leftNav {
        width: 30%;
        img {
            max-width: 100px;
            height: auto;
            cursor: pointer;
        }
    }

    .rightNav {
        width: 20%;
        img {
            max-width: 30px;
            height: auto;
            cursor: pointer;
        }
    }
}

.input-wrapper {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    width: 100%;

    input{
        border: none;
        outline: none;
        font-size: 16px;
        opacity: 0.8;
        width: 100%;
    }

    img {
        width: 30px;
        height: auto;
        margin-right: 10px;
    }
}

.hero-display {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #032541;
    transition: background-image 1s ease-in-out;
    overflow: hidden;
    background-size: cover;
    height: 300px;
    color: #fff;

    h1 {
        font-size: 48px;
        font-weight: 700;
        line-height: 0.6;
    }

    .search-wrapper {
        input {
            position: relative;
            width: 98%;
            padding: 0.8rem;
            border: none;
            outline: none;
            border-radius: 30px;
            font-size: 18px;
        }

        button {
            position: absolute;
            right: 3%;
            padding: 0.8rem 2rem;
            color: #fff;
            background: linear-gradient(to right, #18CFB4, #05B9DA);
            font-size: 18px;
            border: none;
            outline: none;
            border-radius: 25px;
        }
    }
        

    p {
        font-size: 32px;
        font-weight: 600;
        padding-bottom: 30px;
    }
}

.hero{
    background: blue;
    height: 50vh;
    width: 100%;
}

.trending-movies {
    display: flex;
}

.caption {
    display: flex;
    align-items: center;
    gap: 20px;
    max-width: 60%;

    h2{
        padding: 15px;
        font-size: 28px;
        font-weight: 600;
    }
}

.sideDiv {
    border: 1px solid #032541;
    padding: 0 10px 0 0;
    border-radius: 20px;
    
    ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        list-style: none;
        gap: 20px; 
        cursor: pointer;
        font-weight: 600;
        color: #032541;
    }
}

.aqua{
    background: #032541;  
    color: aqua;
    
}

.stream {
    background: linear-gradient(to right, #acfcc8,#36d3ac
    );
}

.dark-blue{
    background: #032541;
    outline: none;
    border: none;
    color: #6BE9BC;
    padding: 0 10px;
    border-radius: 12px;
}

li.stream, li.dark-blue {
    border-radius: 20px;
    padding: 5px 20px;
    font-size: 18px;
}

.container {
    padding: 1rem 1rem 1rem 2rem;
}

#movieList, #trendy, #topRated {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    padding: 20px;

    img{
        width: 80%;
        height: auto;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
}

hr {
    border: 1px solid gray;
    margin: 20px 0;
    max-width: 1300px;
    margin: 0 auto;
}
